/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Press Start 2P', cursive;
}

.time-left {
  display:flex;
  font-size:50px;
  flex-direction: row;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 320px 230px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //width: 300px;
}

.game-board {
  border: solid 2px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom:20px;
  margin-top:20px;

  .play-button {
    background-color: #4caf50;
    margin-bottom:5px;
  }

  .reset-button {
    background-color: red;
  }

  .pause-button {
    background-color: #4caf50;

    &.button-disabled {
      background-color: #cccccc;
    }
  }

  .button {
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    width: 140px; 
    border: 1px solid black;
  }
}
